<h1>About Us</h1>
<p>
  This is a mock-Twitter client that I made during downtime at my summer internship.
  It was created using the Ruby on Rails tutorial. You can find more information
  about the guide at the following link.

  <br />
  <br />
  <a href=http://www.railstutorial.org/>Rails Tutorial</a>
</p>
