<h1>Contact</h1>
<p>
  I am not sure why anyone would ever need to contact me because of something on this site,
  but if so feel free to e-mail me by clicking the link below.

  <br />
  <br />
  <a href="mailto:taylorbrowning@gmail.com&subject=TaylorTwitter">E-mail Taylor</a>
</p>
