<h1>Help</h1>
<p>
  Hopefully no one will ever actually need help using this website.
  If so, you probably know how to get in touch with me anyway. =P
  <br />
  <br />
  If you truly feel stuck and cannot figure out how to proceed, perhaps clicking this link will help. Good luck!
  <a href=http://nyan.cat>Click Me For Help! :D</a>
</p>
