<h1>Sample App</h1>

<p>
  Hello! Welcome to my mock Twitter application that I'm building in an attempt to better understand the Ruby programming language.
  There won't be much here at the moment, but hopefully it will eventually have some functionality. :D
  <br>
  <br>
  Currently I am working on building the user database and creating a user authentication service.
</p>

<%= link_to "Sign up now!", 'signup', :class => "signup_button round" %>
